# 可以按照文档申请免费 Key https://lbs.amap.com/api/jsapi-v2/guide/abc/prepare
# 并将服务平台为 Web 端 ( JSAPI ) 的 key 填在 .env 中
REACT_APP_AMAP_WEB_KEY={amap key}

# 2021.12.2 高德地图新增安全密钥，这里是配置 JSAPI key 搭配代理服务器并携带安全密钥转发
# 具体 nginx 转发规则查看 https://lbs.amap.com/api/javascript-api/guide/abc/prepare
# 举例：在开发环境时 nginx 中转发规则可以配置如下
# server {
#         listen       3333;
#         server_name  localhost;
#
#         # 自定义地图服务代理
#         location /_AMapService/v4/map/styles {
#             set $args "$args&jscode=您的安全密钥";
#             proxy_pass https://webapi.amap.com/v4/map/styles;
#         }
#         # 海外地图服务代理
#         location /_AMapService/v3/vectormap {
#             set $args "$args&jscode=您的安全密钥";
#             proxy_pass https://fmap01.amap.com/v3/vectormap;
#         }
#         # Web服务API 代理
#         location /_AMapService/ {
#             set $args "$args&jscode=您的安全密钥";
#             proxy_pass https://restapi.amap.com/;
#         }
# }
# 然后此时 $path 直接填 http://localhost:3333 即可
REACT_APP_AMAP_SECRET_PATH={$path}